.rdt_TableBody[role="rowgroup"] > div[role="row"]:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.rdt_TableBody[role="rowgroup"] > div[role="row"]:nth-child(even) {
  background-color: unset;
}

.rdt_TableHead > div[role="row"] {
  background-color: unset !important;
  font-weight: bold;
}
